/* Header/Nav styles */
.header-navigation {
    background-color: darkslategray;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}
nav {
    margin-top: 40px;
}
nav a {
    font-size: 1.5em;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
nav a:link {
    color: white;
}
nav a:visited {
    color: lightgrey;
}
nav a:hover {
    color: #9C9054;
}
nav a:active{
    color: #4F3749;
}

/* Main content styles*/
body {
    margin: 0 0 100px;
    align-items: center;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
section header {
    display: flex;
    flex-direction: column;
}
section header .intro-text {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
section header .about-me-text {
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
section header .contact-me-list{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10%;
}
section header .contact-me-list li{
    list-style-type: none;
    margin-top: 10%;
}
a {
    color: black;
}
img {
    height: 250px;
}
ul li {
    margin-top: 5%;
    font-weight: bold;
}
ul li a:hover {
    color: #9C9054;
}
hr{
    width: 40%;
}

/* Theo's image */
.theo-image img {
    border: 5px solid black;
    border-radius: 10px;
}
.theo-image p {
    text-align: center;
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}
footer div {
    margin-top: 30px;
    margin-left: 10px;
}
footer nav {
    margin-bottom: 50px;
}

/* @media mobile-friendly styling */
@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        margin: 0 0 150px;
    }
    .header-navigation, nav, footer {
        flex-direction: column;
    }
    section header .intro-text, .about-me-text, .contact-me-list {
        width: 90%;
        margin: 0 auto;
    } 
    section header .about-me-text {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }
    footer div, nav {
        margin-top: 0;
    }
    footer {
        height: 150px;
    }
    hr {
        width: 90%;
    }
}